* {
    margin: 0;
    padding: 0;
}

/* Обычный */
@font-face {
	font-family: 'Segma';
	font-style: normal;
	font-weight: normal;
	src: local('Segma'),
		url('fonts/Segma/Segma-Medium.ttf') format('ttf'),
		url('fonts/Segma/Segma-Medium.eot') format('eot'),
		url('fonts/Segma/Segma-Medium.svg') format('svg'),
		url('fonts/Segma/Segma-Medium.woff2') format('woff2'), 
		url('fonts/Segma/Segma-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Segma-bold';
	font-style: normal;
	font-weight: bold;
	src: local('Segma'),
		url('fonts/Segma/Segma-Bold.ttf') format('ttf'),
		url('fonts/Segma/Segma-Bold.eot') format('eot'),
		url('fonts/Segma/Segma-Bold.svg') format('svg'),
		url('fonts/Segma/Segma-Black.woff2') format('woff2'), 
		url('fonts/Segma/Segma-Black.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src:
        url('fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Segma-semi';
	font-style: normal;
	font-weight: normal;
	src: local('Segma'),
		url('fonts/Segma/Segma-SemiBold.ttf') format('ttf'),
		url('fonts/Segma/Segma-SemiBold.eot') format('eot'),
		url('fonts/Segma/Segma-SemiBold.svg') format('svg'),
		url('fonts/Segma/Segma-SemiBold.woff2') format('woff2'), 
		url('fonts/Segma/Segma-SemiBold.woff') format('woff');
}

.container {
    width:100%;
    height:100%;
}
body {
	margin: 0;
	background-color: rgb(255, 255, 255);
	color: #000;
	overflow: hidden;
    font-size: .8em;
    font-family: 'Gilroy-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	overscroll-behavior: none;
	user-select: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a, button, input, select {
	pointer-events: auto;
}

.button {
	z-index:2;
	text-align: center;
	vertical-align: middle;
	background-color: #000;
	position: absolute;
	border: 1px solid #fff;
}

#openPackageButton {
	position: absolute;
	width: 170px;
	height: 50px;
	left: calc(50% - 80px);
	bottom: 5px;
	border: 2px solid #A7DFDE;
	border-radius: 5px;
	display: none;
}

#backButton {
	position: absolute;
	width: 145px;
	height: 50px;
	left: 10px;
	bottom: 5px;
	border: 2px solid #A7DFDE;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.04));
	border-radius: 4px;
	background-color: #0000;
	display: none;
}

.blockInButton {
	position: absolute;
	left: 4.91px;
	right: 4.91px;
	top: 4.85px;
	bottom: 4.86px;
	background: #FFFFFF;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}

#openPackageButton .blockInButton span {
	position: absolute;
	width: 100px;
	height: 40px;
	left: 55px;
	top: 5px;
	
	/*font-family: Segma;*/
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	color: #020828;
}

#openPackageButton .blockInButton img {
	position: absolute;
	left: 10px;
	height: 20px;
	top: 8px;
	/*bottom: 10px;
	/*border: 6px solid #A7DFDE;
	/*transform: rotate(-90deg);*/
}

#backButton .blockInButton img {
	position: absolute;
	left: 8px;
	height: 18px;
	top: 10px;
	/*border: 6px solid #A7DFDE;
	/*transform: rotate(-90deg);*/
}

#prepareButton {
	position: absolute;
	width: 240px;
	height: 50px;
	left: calc(50% - 120px);
	bottom: 5px;
	border: 2px solid #A7DFDE;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.04));
	border-radius: 4px;
	background-color: #0000;
	display: none;
}

#backButton .blockInButton span, #prepareButton .blockInButton span {
	position: absolute;
	height: 40px;
	left: 55px;
	top: 4px;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 25px;
	text-align: left;
	color: #020828;
}

#prepareButton .blockInButton img {
	position: absolute;
	height: 30px;
	left: 10px;
	top: 2px;
}

.annotationLabel {
	color: #ffffff;
	pointer-events: none;
	font-size: 17px;
}

#loaderPage
{
	position: absolute;
	background-color: #FFFFFF;
	width:100%;
	height:100%;
	display: block;
}

#loaderPage span {
	position: absolute;
	top: calc(50% + 30px);
	font-size: 21px;
	width: 200px;
	left: calc(50% - 90px);
	text-align: center;
}

#loaderPage img {
	position: inherit;
	bottom: calc(50% + 30px);
	width: 350px;
	left: calc(50% - 175px);
}

#progressBar {
	position: absolute;
	background-color: #EEEEEE;
	top: 50%;
	width: 100%;
	height: 15px;
}
#progress {
	width: 1%;
	height: 100%;
	background-color: #A7DFDE;
}

.post_info {
	position: absolute;
	opacity: 1;
	width: 400px;
	top: 20px;
	left: 20px;
	display: none;
	line-height: 30px;
}
.post_info img {
	width: 300px;
	top: 50px;
	left: 0%;
	opacity: 0.7;
}

.post_annotation {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.post_header {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 700;
}
.label {
	padding: 2px;
	height: 60px;
}

@media (max-width: 600px) {
	#prepareButton {
		right: 10px;
		left: auto;
	}
}

@media (max-width: 405px) {
	#prepareButton {
		left: 10px;
		bottom: 60px;
	}
}
	